@font-face {
    font-family: "poppins";
    src: url(images/Poppins-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";

}

body{
    text-align: center;
}
#nav-bar{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#nav-bar img{
    height: 65px;
    width: 120px;
    padding-left: 30px;
}


#nav-bar  a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

#nav-bar a:hover{
    background-color: transparent;
    border-bottom: 3px solid red;
    transition: 0.5s ease-in;
}


#about{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
    text-align: center;
}


#about h1{
    font-size: 2rem;
    padding-top: 100px;
}


#container{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 60px;
}


.numbers{
    width: 800px;
    height: 350px; 
    
    padding-top: 40px;
}

.numbers h3{
    font-weight: 300;
}

.numbers p{
    margin-bottom: 40px;
}

.num-form{
     width: 800px;
    height: 500px; 
    padding-top: 40px;
}


.num-form input{
    width: 95%;
    height: 50px;
    margin-bottom: 30px;
    color: rgb(196, 196, 196);
    padding-left: 15px;
    
}

.num-form textarea{
    width: 95%;
    padding-left: 15px;
}

.num-form button{
    width: 140px;
    height: 50px;
    background-color: transparent;
    color: red;
    border:  1px solid red;
    
}

.num-form button:hover{
    width: 140px;
    height: 50px;
    background-color: red;
    color: white;
    border:  1px solid black;
    cursor: pointer;
    transition: 0.3s  ease-in-out;
    
}


footer{
    height: 70px;
    width: 100%;
    background-color: rgb(26, 25, 25);
    margin-top: 50px;
    color: white;
    padding-top: 10px;
}  


@media(max-width:700px){
    #nav-bar{
        display: flex;
        height: 40px;
        width: 100vw;
        justify-content: space-between;
    }

    #nav-bar img{
        height: 30px;
        width: 55px;
        padding-left: 5px;
    }

    #nav-bar {
       font-size: 0.7rem;
    }

    #nav-bar  a{
        margin-right: 10px;
    }
 }   




